<!-- Intro -->
<section id="intro" class="container">
	<div class="row">
		<div class="col-4 col-12-medium">
			<section class="first">
				<i class="icon solid featured fa-cog"></i>
				<header>
					<h2>Charabia</h2>
				</header>
				<p>Learn French on your iPhone and iPad</p>
				<p>&nbsp;</p>
				<footer>
					<ul class="actions">
						<li><a href="charabia.html" class="button alt">Find out more</a></li>
					</ul>
				</footer>
			</section>
		</div>
		<div class="col-4 col-12-medium">
			<section class="middle">
				<i class="icon solid featured alt fa-bolt"></i>
				<header>
					<h2>Bueno?</h2>
				</header>
				<p>Snap a picture and see if it's Bueno or not</p>
				<p>&nbsp;</p>
				<footer>
					<ul class="actions">
						<li><a href="bueno.html" class="button alt">Find out more</a></li>
					</ul>
				</footer>
			</section>
		</div>
		<div class="col-4 col-12-medium">
			<section class="last">
				<i class="icon solid featured alt2 fa-star"></i>
				<header>
					<h2>Flapball</h2>
				</header>
				<p>Flappy Bird tribute game with a twist</p>
				<p>&nbsp;</p>
				<footer>
					<ul class="actions">
						<li><a href="bueno.html" class="button alt">Find out more</a></li>
					</ul>
				</footer>
			</section>
		</div>
	</div>
</section>